.quizAnswerBox {
    margin: 5px;
    padding: 5px;
}

.quizButton {
    margin: 20px 0;
}

.quizFrame {
    border: 2px solid black;
    border-radius: 10px;
    margin: 10px auto;
    min-height: 100px;
    min-width: 100px;
    padding: 20px;
}

.quizQuestion {
    font-size: 1.2em;
}

.quizSource {
    font-size: 0.9em;
    font-style: italic;
}
