:root {
  --color-1: #f4eeff;
  --color-2: #dcd6f7;
  --color-3: #a6b1e1;
  --color-4: #424874;
}

body {
  background-color: var(--color-1);
  color: var(--color-4);
}

footer {
  text-align: right;
}

h2 {
  margin: 2px 5px;
}

h3 {
  margin: 2px 5px;
}

header {
  border-bottom: 2px solid var(--color-4);
  text-align: center;
}

main,
section {
  border-bottom: 2px solid var(--color-4);
}

.hero {
  border-radius: 50%;
  max-height: 200px;
}

.mainNav a,
.mainNav a:active,
.mainNav a:hover,
.mainNav a:link,
.mainNav a:visited {
  color: var(--color-4);
  text-decoration: none;
}

.mainNav li {
  background-color: var(--color-2);
  border: 2px solid var(--color-4);
  border-radius: 5px;
  box-shadow: 2px 2px var(--color-3);
  margin: 5px 2px 2px 2px;
  padding: 2px 5px;
}

.mainNav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 640px) {
  body {
    margin: 5px 10px;
  }
}

@media screen and (min-width: 641px) and (max-width: 1007px) {
  body {
    margin: 5px 75px;
  }
}

@media screen and (min-width: 1008px) {
  body {
    margin: 5px 150px;
  }
}
