:root {
  --color-1: #f4eeff;
  --color-2: #dcd6f7;
  --color-3: #a6b1e1;
  --color-4: #424874;
}

body {
  background-color: var(--color-1);
  color: var(--color-4);
}

footer {
  text-align: right;
}

h3 {
  margin: 2px 5px;
}

header {
  border-bottom: 2px solid var(--color-4);
  text-align: center;
}

main,
section {
  border-bottom: 2px solid var(--color-4);
}

.card {
  border: 2px solid var(--color-4);
  border-radius: 5px;
  box-shadow: 5px 5px var(--color-3);
  margin: 10px;
  padding: 10px;
}

.hero {
  border-radius: 50%;
  max-height: 200px;
}

@media screen and (max-width: 640px) {
  body {
    margin: 5px 10px;
  }
}

@media screen and (min-width: 641px) and (max-width: 1007px) {
  body {
    margin: 5px 75px;
  }
}

@media screen and (min-width: 1008px) {
  body {
    margin: 5px 150px;
  }
}
