:root {
  --color-1: #f4eeff;
  --color-2: #dcd6f7;
  --color-3: #a6b1e1;
  --color-4: #424874;
}

body {
  background-color: var(--color-1);
  color: var(--color-4);
}

footer {
  border-bottom: 2px solid var(--color-4);
}

main {
  border-bottom: 2px solid var(--color-4);
}
