:root {
  --color-1: #f4eeff;
  --color-2: #dcd6f7;
  --color-3: #a6b1e1;
  --color-4: #424874;
}

body {
  background-color: var(--color-1);
  color: var(--color-4);
}

footer {
  text-align: right;
}

header {
  border-bottom: 2px solid var(--color-4);
  text-align: center;
}

main {
  border-bottom: 2px solid var(--color-4);
}

.hero {
  max-height: 200px;
}

@media screen and (max-width: 640px) {
  body {
    margin: 5px 10px;
  }
}

@media screen and (min-width: 641px) and (max-width: 1007px) {
  body {
    margin: 5px 75px;
  }
}

@media screen and (min-width: 1008px) {
  body {
    margin: 5px 150px;
  }
}
